<mat-card class="card-container" appearance="outlined">
  <mat-card-header>
    <mat-card-title>User Form</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" class="form-layout" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="name" placeholder="Enter name" />
        <mat-error *ngIf="form.controls['name']?.errors?.['nameTaken']">
          Name already taken!
        </mat-error>
      </mat-form-field>
      <mat-checkbox formControlName="active">
        Active
      </mat-checkbox>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Create User</button>
    </form>
  </mat-card-content>
</mat-card>
